app:
  versions:
    - version: "v4.3.0"
    - version: "v5.0.0"
    - version: "v6.1.0"
    - version: "v7.0.1"
  image:
    repository: aeternity/aesophia_http 
    pullPolicy: "Always"
  service:
    type: ClusterIP
    port: 3080
  probes:
    liveness:
      enabled: true
      config:
        httpGet: null
        tcpSocket:
          port: http
        initialDelaySeconds: 1
        timeoutSeconds: 10
    readiness:
      enabled: true
      config:
        httpGet:
          path: /version
          port: http
        timeoutSeconds: 5
  ingress:
    enabled: true
    labels:
      solver: route53
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      cert-manager.io/cluster-issuer: letsencrypt
