app:
  secrets:
    external:
      remotePrefix: /k8s/prd-0e9c
  ingress:
    hosts:
      - host: "dex-backend-testnet.prd.aepps.com"
        paths:
          - path: "/"
    tls:
      - hosts:
        - "dex-backend-testnet.prd.aepps.com"
        secretName: dex-backend-testnet-cert
  env:
    "POSTGRES_HOST": "dexprd.cxhy2i9at0vj.eu-central-1.rds.amazonaws.com"
