app:
  secrets:
    external:
      remotePrefix: /k8s/dev-wgt7

  resources:
    limits:
      cpu: "2"
      memory: "6Gi"
    requests:
      cpu: "1"
      memory: "5Gi"

  ingress:
    hosts:
      - host: "graffiti.dev.aepps.com"
        paths:
          - path: "/"
    tls:
      - hosts:
        - "graffiti.dev.aepps.com"
        secretName: graffiti-cert
