app:
  secrets:
    external:
      remotePrefix: /k8s/dev-wgt7

  resources:
    limits:
      cpu: "2"
      memory: "6Gi"
    requests:
      cpu: "1"
      memory: "5Gi"

  ingress:
    hosts:
      - host: "graffiti-server.dev.aepps.com"
        paths:
          - path: "/"
    tls:
      - hosts:
        - "graffiti-server.dev.aepps.com"
        secretName: graffiti-server-cert

  env:
    "IPFS_URL": "http://ipfs.dev.aepps.com:5001"
    "S3_BUCKET": "aeternity-superhero-graffiti-dev"
