app:
  image:
    repository: aeternitybot/graffiti-server
    tag: "latest"
    pullPolicy: "Always"
  secrets:
    external:
      values:
        S3_KEY: /apps/GRAFFITI_S3_KEY
        S3_SECRET: /apps/GRAFFITI_S3_SECRET
  service:
    port: 3000
  probes:
    liveness:
      enabled: false
      config:
        httpGet:
          path: /health
        initialDelaySeconds: 120
        periodSeconds: 120
        successThreshold: 1
        timeoutSeconds: 60
    readiness:
      enabled: false
      config:
        httpGet:
          path: /health
        initialDelaySeconds: 120
        periodSeconds: 120
        successThreshold: 1
        timeoutSeconds: 60
  persistence:
    enabled: true
    accessMode: ReadWriteOnce
    storageClass: gp2
    size: 50Gi
    mountPath: /app/data/backup
  ingress:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      cert-manager.io/cluster-issuer: letsencrypt
  env:
    "S3_REGION": "eu-central-1"
    "NODE_URL": "https://mainnet.aeternity.io"
    "CONTRACT_ADDRESS": "ct_rR1BHya4jLXR1d4FpTRfgB5YZmALELwm6kf7f64sVRSjmWtrj"



