app:
  image:
    tag: "latest"
    repository: "aeternitybot/aescan-frontend-mvp"
    pullPolicy: "Always"
  resources:
    limits:
      memory: 256Mi
    requests:
      memory: 256Mi
  ingress:
    enabled: true
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      cert-manager.io/cluster-issuer: letsencrypt
